/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#081138;
    line-height: 1.6;
}

header, footer {
    background-color: #090909;
    color: white;
    padding: 20px;
}

header{
    text-align: right;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display:inline;
    margin-right: 100px;
}

nav a:hover {
    text-decoration: underline;
}

h2{
    color: white;
    font-size: xx-large;
}

section {
    padding: 20px;
    margin: 50px;
    color: white;
    font-size: x-large;
    text-align: center;
}

footer {
    background-color: #090909;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 25px;
    background-color: rgb(6, 45, 77);
    padding: 10px;
}

.projects-box .projects-image img{
    width: 100%;
}

.form{
    background-color:rgb(6, 45, 77);
}

textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  input[type=text]:focus {
    background-color: lightblue;
    border: 3px solid #555;
  }

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }
}
